<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1: July 17, 2023</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr> 
        <td>9:00</td>  <td>Start - Introduction to the workshop, instructors, helpers, and code of conduct</td> 
      </tr>
      <tr> 
        <td>09:30</td>  <td><a href="https://datacarpentry.org/organization-genomics/">Project Organization and Management</a></td> 
      </tr>
      <tr> 
        <td>10:30</td>  <td>Break</td> 
      </tr>
      <tr> 
        <td>10:45</td>  <td>Project Organization and Management (continued)</td> 
      </tr>
      <tr> 
        <td>12:00</td>  <td>Break</td>
      </tr>
      <tr> 
        <td>12:15</td>  <td><a href="https://datacarpentry.org/shell-genomics/">Introduction to the Command Line</a></td>
      </tr>
      <tr> 
        <td>1:00</td>  <td>Finish day one</td>
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2: July 18, 2023</h3>
    <table class="table table-striped">
     <tr>
       <td>09:00</td>  <td><a href="https://datacarpentry.org/shell-genomics/">Introduction to the Command Line (Continued)</a></td>
      </tr>
      <tr> 
        <td>10:00</td>  <td>Break</td> 
      </tr>
      <tr> 
        <td>10:15</td>  <td>Introduction to the Command Line (continued)</td> 
      </tr>
      <tr> 
        <td>11:00</td>  <td>Break</td> 
      </tr>
      <tr> 
        <td>11:15</td>  <td>Introduction to the Command Line (continued)</td> 
      </tr>
      <tr> 
        <td>12:00</td>  <td>Break</td> 
      </tr>
      <tr> 
        <td>12:15</td>  <td>Introduction to the Command Line (continued)</td> 
      </tr>
      <tr> 
        <td>1:00</td>  <td>Finish day two</td> 
      </tr>
     </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 3: July 19, 2023</h3>
    <table class="table table-striped">
     <tr>
       <td>09:00</td>  <td><a href="https://datacarpentry.org/wrangling-genomics/">Data Wrangling and Processing</a></td>
      </tr>
      <tr> 
        <td>10:00</td>  <td>Break</td> 
      </tr>
      <tr> 
        <td>10:15</td>  <td>Data Wrangling and Processing (Continued)</td> 
      </tr>
      <tr> 
        <td>11:00</td>  <td>Break</td> 
      </tr>
      <tr> 
        <td>11:15</td>  <td>Data Wrangling and Processing (Continued)</td> 
      </tr>
      <tr> 
        <td>12:00</td>  <td>Break</td> 
      </tr>
      <tr> 
        <td>12:15</td>  <td>Data Wrangling and Processing (Continued)</td> 
      </tr>
      <tr> 
        <td>1:00</td>  <td>Finish day three</td> 
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 4: July 20, 2023</h3>
    <table class="table table-striped">
     <tr>
       <td>09:00</td>  <td><a href="https://datacarpentry.org/wrangling-genomics/">Data Wrangling and Processing (Continued)</a></td>
      </tr>
      <tr> 
        <td>10:00</td>  <td>Break</td> 
      </tr>
      <tr> 
        <td>10:15</td>  <td>Data Wrangling and Processing (Continued)</td> 
      </tr>
      <tr> 
        <td>11:00</td>  <td>Break</td> 
      </tr>
      <tr>
       <td>11:15</td>  <td><a href="https://datacarpentry.org/cloud-genomics/">Introduction to Cloud Computing for Genomics</a></td>
      </tr>
      <tr> 
        <td>12:00</td>  <td>Break</td> 
      </tr>
      <tr>
       <td>12:15</td>  <td>Introduction to Cloud Computing for Genomics (continued)</td>
      </tr>
      <tr> 
        <td>1:00</td>  <td>Finish day four</td> 
      </tr>
      <tr>               <!-- row 3   -->
        <td>End</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>
